<html>
<head>
	<title>Say, Goodbye!</title>
</head>
<body>
<h1 style="color:maroon">Goodbye</h1>
<p>It was nice to having you here</p>
<p>
(using anchor tag)Say <a href="/say/hello">Hello</a>again.
</p>

<p>
(using link_to)
Say <%= link_to "Hello", say_hello_path %> again.
</p>
</body>
</html>
